body {
    background: #3A445D;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    color: silver   
}
img {
    float: left;
    padding: 10px;
    background-color: black;
}
section h4{
    margin-top: 275px;
    margin-bottom: 85px;
    margin-left: 310px;
}
hr {
    background-color: black;

}
h1, h3 {
    background-color: black;
    padding-left: 10px;
    width: 100%;
    border-radius: 5px;
    
}
ol li:nth-child(odd) {
    color: white;
}
#nome{
    font-size: 40px; 
    text-align: center; 
}

#fonte20{
        font-size: 20px;
        color:white;
        font-family: 'Courier New', Courier, monospace;
}
#branco{
    color:white;
}
.gosta{
    text-decoration: underline;
}